.formJogs {
    position: relative;
    max-width: 503px;
    height: 379px;
    border-radius: 44px;
    background-color: #7ed321;
    margin: 75px auto;
    display: flex;
    justify-content: center;
}

.formJogs form {
    padding-top: 101px;
}

.formJogs input {
    width: 236px;
    height: 31px;
    border-radius: 7px;
    border: solid 1px #979797;
    outline: none;
    margin-left: 16px ;
}

.formJogs label {
    display: inline-block;
    width: 73.8px;
    height: 19px;
    font-family: "SFUIText";
    font-size: 16px;
}

.inputTime, .inputDate {
    margin-top: 25px;
}

.btnSave {
    width: 320px;
    height: 42px;
    border-radius: 25.2px;
    border: solid 2px white;
    background-color: #7ed321;
    color: white;
    margin-top: 46px;
    cursor: pointer;
    outline: none;
}

.imgCancel {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 27px;
    right: 27px;
    cursor: pointer;
}

@media screen and (max-width: 570px) {
    .formJogs {
        margin: 75px 24px;
        height: 390px;
    }

    .formJogs label {
        display: block;
        padding-bottom: 6px;
    }

    .formJogs form {
        padding-top: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .formJogs input {
        margin: 0px ;
        margin-bottom: 20px;
    }

    .imgCancel {
        width: 18px;
        height: 18px;
    }

    .btnSave {
        width: 272px;
        margin-top: 24px;
        margin-bottom: 37pt;
    }
}